.bold {
    font-weight: bold;
}

.huge-row {
    line-height: 5em !important;
    font-size: xxx-large;
}

.large-row {
    line-height: 4em !important;
    font-size: xx-large;
}

.medium-row {
    line-height: 3em !important;
    font-size: x-large;
}

